.sidebar {
  .header {
    border-bottom: .1rem solid #ececec;
    height: 6.4rem;
    
    .toggle-button {
      color: #808080;
      cursor: pointer;
      padding: 0 3.2rem;
      
      .close {
        font: normal 400 1.3rem 'Lato', sans-serif;
        margin-right: 1.6rem;
        text-transform: uppercase;
      }

      .fa-times { font-size: 1.6rem; }
    }
  }

  .nav-item {
    color: #333;
    font: normal 400 1.6rem 'Lato', sans-serif;

    &:first-child { margin-top: 4rem; }
    &:last-child { margin-bottom: 4rem; }

    a {
      display: inline-flex;
      padding: 2.4rem 3.2rem;
    }
  }
}
