.toggle-switch {
  display: inline-block;
  position: relative;
  user-select: none;
  width: 4.8rem;

  > input { display: none; }

  > input:checked + label { background-color: hsl(199, 92%, 85%); }

  > input:checked + label:before {
    background-color: hsl(201, 98%, 41%);
    transform: translateX(calc(4.8rem - 2rem));
  }

  > label {
    background-color: hsl(0, 0%, 93%);
    border-radius: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 1.6rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: background-color .2s ease-in-out;

    &:before {
      background: hsl(0, 0%, 50%);
      bottom: 0;
      border-radius: 50%;
      content: '';
      display: block;
      height: 2.4rem;
      position: absolute;
      top: -.4rem;
      transform: translateX(0);
      transition: background-color, transform .2s ease-in-out;
      width: 2.4rem;
    }
  }
}
